

  table th#th1  {background-color:rgb(112, 248, 130); color:white;}
  table th#th2  {background-color:rgb(252, 255, 79); color:white;}
  table th#th3  {background-color:rgb(255, 88, 88); color:white;}

  
